*{
    margin: 0;
    padding: 0;
}

.card {
    width: 100%;
    background: linear-gradient(to right, rgb(197 207 230), rgb(27 63 170));
    display: flex;
    border-radius: 25px;
    padding: 20px;
}
